<div class = "row rowDetail">
	<div class = "col-xs-12">
		<div class = "detail clearfix">
			<div class = "col-xs-7 left">
				<div class = "bigImage">
					<img src = {{controller.image.url}}>
					<span ng-click = "controller.heartImage(controller.image)" class = "heart">
						<span class = "heartNo">{{controller.image.likes}}</span>
						<i class="fa fa-heart heartIcon" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			<div class = "col-xs-5 right">
				<div class = "imageDetails">
					<h3>{{controller.image.title}}</h3>
					<p>{{controller.image.description}}</p>
				</div>		
			</div>
		</div>
	</div>
</div>